@using Model.EF;
@model List<MENU>
@{ 
    var user = ViewBag.TaiKhoan as TAIKHOAN;
}

<div class="header">
    <div class="container" style="">
            <div class="menu1" style="background: #fff; float: left;">
                <ul style="margin: 0px;">
                    @foreach (var item in Model)
                    {
                        <li style="float: left; display: inline-block; text-transform: uppercase; height: 40px; line-height: 40px; margin-right:60px;">
                            <a href="@item.Link" style="border: none; padding: 0px 15px; font-weight: 400; display: block; text-decoration: none; font-size: 16px;">@item.Ten</a>
                        </li>
                    }

                    @if (user != null)
                    {
                        <li class="parent-list" style="float: left; display: inline-block; text-transform: uppercase; height: 40px; line-height: 40px;">
                            <a href="javascript:;" style="border: none; font-weight: 400; display: block; text-decoration: none; font-size: 16px;">
                                Thông tin người dùng
                            </a>
                            <ul class="childrent" >
                                <li>
                                    @user.HoTen
                                </li>
                                <li style="width:400px;">
                                    <a href="/SanPham/DanhSachYeuThich" style="border: none; font-weight: 400; display: block; text-decoration: none; font-size: 16px;">
                                        <i class="fa fa-heart">&nbsp;</i>Danh sách yêu thích
                                    </a>
                                </li>
                                <li>
                                    <a href="/SanPham/DanhSachMuaHang" style="border: none; font-weight: 400; display: block; text-decoration: none; font-size: 16px;">
                                        Lịch sử mua hàng
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout")" style="border: none; font-weight: 400; display: block; text-decoration: none; font-size: 16px;">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </li> 
                    }
                    else
                    {
                        <li style="float: left; display: inline-block; text-transform: uppercase; height: 40px; line-height: 40px;">
                            <a href="/Admin/Login" style="border: none; padding: 0px 15px; font-weight: 400; display: block; text-decoration: none; font-size: 16px;">
                                Đăng Nhập
                            </a>
                        </li>
                        <li style="float: left; display: inline-block; text-transform: uppercase; height: 40px; line-height: 40px; margin-left: 50px;">
                            <a href="/Admin/Login/Register" style="border: none; padding: 0px 15px; font-weight: 400; display: block; text-decoration: none; font-size: 16px;">
                                Đăng Ký
                            </a>
                        </li>
                    }
                </ul>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

<style>
   li.parent-list{
       position:relative;
   }
    li.parent-list:hover ul.childrent{
        display:block;
    }
    ul.childrent {
        position: absolute;
        background: #fff;
        z-index: 1000;
        min-width: 200px;
        left: 16px;
        display:none;
    }
    ul.childrent li{
        padding-left: 15px;

    }
</style>